__pycache__
venv
.gitignore
cache
A2SV Generative AI Hackathon _ D1g1t4l Dyn4m0s Checkpoint 1.docx
slackapp/Company Annual Sales Report.docx
slackapp/Company Annual Sales Report.pdf
slackapp/keviinkibe@gmail.com_emails.txt