pip==21.3.1
portaudio19-dev
python3-all-dev
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
slack-sdk
slackeventsapi
slack-bolt
python-dotenv
beautifulsoup4
openai
langchain
tiktoken
faiss-cpu
supabase
chromadb
boto3
pdfminer
pytz
streamlit
playsound==1.2.2 
SpeechRecognition
pyaudio
# pyobjc
elevenlabs
