body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  height: 100vh;
}

.hero-img {
  flex: 1;
  height: 100vh;
}

.signup-container {
  flex: 1;
  max-width: 400px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.txt-gradient {
  background: linear-gradient(45deg, #00bcd4, #2196f3);
  -webkit-background-clip: text;
  color: transparent;
}

.txt-white {
  color: #fff;
}

.btn-gradient {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background: linear-gradient(45deg, #00bcd4, #2196f3);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.google-login-container {
  margin-top: 20px;
}

.google-login-container .google-login-button {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

.google-login-container .google-login-button:hover {
  cursor: pointer;
}

.txt-gradient:hover {
  text-decoration: underline;
  cursor: pointer;
}
